@font-face {
	font-family:'entypo';
	font-style:normal;
	font-weight:400;
	src: url('../fonts/Entypo/entypo.eot');
	src: url('../fonts/Entypo/entypo.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Entypo/entypo.woff') format('woff'), 
		 url('../fonts/Entypo/entypo.ttf') format('truetype'),
		 url('../fonts/Entypo/entypo.svg#font/entypo') format('svg');
}
/*
@font-face {
	font-family:"entypo";
	font-style:normal;
	font-weight:400;
	src:url(../fonts/icons/entypo.eot);
	src:url("../fonts/icons/entypo.eot?#iefix") format("ie9-skip-eot"),
		url("../fonts/icons/entypo.woff") format("woff"),
		url("../fonts/icons/entypo.ttf") format("truetype");
}
*/